version: "3.9"

services:
  drone-navigation-service:
    build:
      context: .
      dockerfile: Dockerfile
      target: dns
    ports:
      - "3000:3000"
    environment:
      atlas_dns_sector_id: 1
      atlas_dns_port: 3000
      api_mode: GRPC